{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/blog.css') }}" />
	<link rel="stylesheet" href="{{ asset('build/general.css') }}" />
{% endblock %}

{% block title %}FC - About Me{% endblock %}

{% block body %}
    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-about.html.twig') }}
      
    </div>
    
    {# SECTION --main-content #}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            A Talented Developer Ready To Provide Innovative Business Solutions
          </h3>
				
				  <p>Analytical and technically sophisticated professional with solid experience managing overall aspects of databases,
            servers, systems engineering, and clients.</p>
          
          <ul>
						<li><span>Email</span> : francisco.carracedo.com@gmail.com</li>
						<li><span>Based on</span> : Milton Keynes, UK</li>
          </ul>

          <ul>
              <li><a href="https://www.linkedin.com/in/frank-carracedo/" target='_blank'>Linkedin</a></li>
              <li><a href="https://bitbucket.org/fjmc81/" target='_blank'>Bitbucket</a></li>
          </ul>
          
          <div class="intro">
            <h1 class="titleBig">resume</h1>
            <br>
            <p>
              <em>
                Specialised in both front-end and back-end development, accuracy and time management, and web technologies.
              </em>
            </p> 
            <br>
            <p>
              Strong knowledge of tools and techniques with a wider team, both developers and non-developers,
              development practises and methodologies, and continual development of tooling to provide tangible business
              benefits.
            </p>
            <br>
            <p>Articulate and refined communicator with proficiencies in Spanish and English languages.</p>
					</div>
          
          <!--Resume details-->							
							<div class="eleven columns resumeDetails top">
								
							<!--Employment and education-->
							<div class="employment">
								
								<h2 class="titleSmall">My Employment</h2>
								
								<!--Em-->
								<div class="em clearfix">
									<div class="dtIco">
										<span class="ico"><i class="icon-suitcase"></i></span>
										<span class="date">2016-2018</span>
									</div>
									
									<div class="det">
										<h3>PHP Developer <span>– Green Retreats Ltd</span> </h3>
										<p>
											<ul>
												<li>- Development of responsive for already live websites, respecting the previous design.</li>
												<li>- Development of front-end of the new websites for customer and employee built in Laravel LTS</li>
												<li>- Technical support for all websites of the business group.</li>
												<li>- Working in Agile environment since beginning of 2017</li>
											</ul>
										</p>
									</div>
								</div>
								<!--End em-->
								
								
									<!--Em-->
									<div class="em clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-suitcase"></i></span>
											<span class="date">2014-2016</span>
										</div>

										<div class="det">
											<h3>IT Consultant and Developer <span>– Isban UK - Santander Bank - UK</span> </h3>
											<p>
											<ul>
												<li>- Support and maintenance of Public Web Site of Santander UK</li>
												<li>- Support and maintenance of IVR customer phone system of Santander UK</li>
												<li>- Development of Branch Locator that it will be integrated on the current Santander Bank's website based on JAVA</li>
												<li>- Support on migration of Santander website to HTML5 and Responsive</li>
												<li>- Prototype and Wireframe with Axure 7 RP</li>
												<li>- Involved in implementation of Adobe Analytics</li>
											</ul>
										</p>
										</div>
									</div>
									<!--End em-->
									
									<!--Em-->
									<div class="em clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-suitcase"></i></span>
											<span class="date">2004-2014</span>
										</div>

										<div class="det">
											<h3>Pre-press previous jobs <span>+ transition learning period</span> </h3>
											<p>Tasks of graphic design and prepress along more than 6 years working within Madrid city and surroundings</p>
											<p>In 2011 I moved on to the UK and I began a period transitional to get my first IT job with Isban-Santander UK in 2014.</p>
										</div>
									</div>
									<!--End em-->
								
								
							</div>
							
							
							
							
								<div class="education">

									<h2 class="titleSmall">My Education</h2>
									
									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2019-2022</span>
										</div>

										<div class="det">
											<h3>BSc (Honours) Computing & IT and a second subject (Business) <span>– The Open University</span> </h3>
											<p>Currently still in progress, I am focusing to data and software development as how to target business chances too.</p>
											<p>Read about my degree/university <a alt="www.open.ac.uk" href="http://www.open.ac.uk/courses/computing-it/degrees/bsc-computing-it-second-subject-q67" target="_blank">clicking here</a></p>
										</div>
									</div>
									<!--End ed-->
									
									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2017-2018</span>
										</div>

										<div class="det">
											<h3>Full Stack Web Developer <span>– Udacity Nano-Degree</span> </h3>
											<p>Full course developing in backend and frontend technologies web environments.</p>
											<p>See my certificate <a alt="graduation.udaticy.com" href="https://graduation.udacity.com/confirm/2CEZ75AL" target="_blank">clicking here</a></p>
										</div>
									</div>
									<!--End ed-->
									
									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2017-2018</span>
										</div>

										<div class="det">
											<h3>Artificial Intelligence <span>– Udacity Nano-Degree</span> </h3>
											<p>As a complementing deep learning, this advanced course represents the perfect sum of knowledge of algorithms and their more general applications.</p>
											<p>See my certificate <a alt="graduation.udaticy.com" href="https://graduation.udacity.com/confirm/TL3RSEPN" target="_blank">clicking here</a></p>
										</div>
									</div>
									<!--End ed-->

									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2017-2018</span>
										</div>

										<div class="det">
											<h3>Deep Learning <span>– Udacity Nano-Degree</span> </h3>
											<p>Deep learning is driving advances in artificial intelligence that are changing our world. 
											In mind I have for building and apply my own deep neural networks to produce amazing solutions to important business challenges.</p>
											<p>See my certificate <a alt="graduation.udaticy.com" href="https://graduation.udacity.com/confirm/6FDLDDGF" target="_blank">clicking here</a></p>
										</div>
									</div>
									<!--End ed-->


									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">oct	-2017</span>
										</div>

										<div class="det">
											<h3>Logic and Computational thinking <span>– Microsoft Certificate</span> </h3>
											<p>See my certificate <a alt="courses.edx.org-certificates" href="https://courses.edx.org/certificates/c0e466a74bee402892828744f179747e" target="_blank">clicking here</a></p>
										</div>
									</div>
									<!--End ed-->

									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2010-2011</span>
										</div>

										<div class="det">
											<h3>Tecnico en Aplicaciones Web <span>– CEI, Madrid, Spain</span> </h3>
											<p></p>
										</div>
									</div>
									<!--End ed-->
									<!--Ed-->
									<div class="ed clearfix">
										<div class="dtIco">
											<span class="ico"><i class="icon-graduation-cap"></i></span>
											<span class="date">2002-2004</span>
										</div>

										<div class="det">
											<h3>Diseno y Produccion Editorial <span>– Ciclo Formativo Grado Superior</span> </h3>
											<p></p>
										</div>
									</div>
									<!--End ed-->


								</div>	
							
							
							<!--End employment and education-->
								
							</div>
						<!--End resume details-->
        

        </div><!-- /.blog-main -->

        <div class="col-lg-4">
            {{ include('_sidebar.html.twig') }}
        </div>
        
      </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}
