{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var filters_form \EasyCorp\Bundle\EasyAdminBundle\Form\Type\FiltersFormType #}
{% form_theme filters_form with ea.crud.formThemes only %}

{{ form_start(filters_form, { attr: { id: filters_form.vars.id } }) }}
    {# browsers remove the query string when submitting forms using GET;
       that's why all query string parameters are added as hidden form fields #}
    {% for paramName, paramValue in form_action_query_string_as_array|ea_flatten_array %}
        <input type="hidden" name="{{ paramName }}" value="{{ paramValue }}">
    {% endfor %}

    {{ form_widget(filters_form) }}
{{ form_end(filters_form) }}
