{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<img class="image-avatar" height="{{ field.customOptions.get('height') }}" width="{{ field.customOptions.get('height') }}" src="{{ field.formattedValue }}">
