{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    {# TODO: improve this to highlight code #}
    {% set configuredHeight = field.customOptions.get('height') %}
    <div style="{{ configuredHeight is null ? 'max-height: 350px;' : 'max-height: unset; height: ' ~ configuredHeight ~ 'px' }}">
        {{ field.value|nl2br }}
    </div>
{% else %}
    {% set html_id = 'ea-code-editor-' ~ field.uniqueId %}
    <a href="#" data-toggle="modal" data-target="#{{ html_id }}">
        <i class="fa fa-code"></i> {{ 'field.code_editor.view_code'|trans([], domain = 'EasyAdminBundle') }}
    </a>

    <div class="modal fade" id="{{ html_id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ field.label }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'action.close'|trans([], domain = 'EasyAdminBundle') }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ field.value }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
