/* assets/css/app.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
    background-color: lightgray;
}

.blog-header-logo{
    /*font-family: 'Open Sans', sans-serif !important;*/
    font-family: 'Julius Sans One', sans-serif;
}

.jumbotron-home{
    background: url('../images/Landing.jpg') no-repeat center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 320px !important ;
}

.jumbotron-blog{
    background: url('../images/codifying.jpg') no-repeat center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 320px !important ;
}

.jumbotron-about{
    background: url('../images/Handshake.jpg') no-repeat center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 320px !important ;
}

/*Resume*/


.resumeDetails, .skills{
	text-align:left;
}

.em, .ed{
	margin-bottom:40px;
	
	
}

.dtIco, .det{
	float:left;
}


.dtIco{
	margin-top:20px;
}


.dtIco span.date {
    background:#03CC85;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 15px;
    padding: 2px 10px;
}


.dtIco span.ico {
    background:#343434;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 100%;
    line-height: 44px;
    text-align: center;
    width: 45px;
	position:relative;
}


.employment, .education{
	position:relative;
}

.employment:before, .education:before {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 1%, #efefef 75%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#efefef), color-stop(75%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 1%,#efefef 75%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
    bottom: 0;
    content: "";
    left: 4%;
    margin-left: -5px;
    position: absolute;
    top: 125px;
    width: 3px;
}


.det {
    border: 3px solid #EFEFEF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
    margin-left: 32px;
    padding: 30px;
    position: relative;
    width: 460px;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.det h3{
	margin-bottom:10px;
}

.det h3 span{
	font-size:12px;
}

.det:before {
    border-bottom: 15px solid #EFEFEF;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    bottom: -1px;
    content: "";
    height: 0;
    left: -24px;
    position: absolute;
    top: 34px;
    transform: rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
    width: 0;
}


.det:after {
    border-bottom: 15px solid #FFFFFF;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    bottom: -1px;
    content: "";
    height: 0;
    left: -20px;
    position: absolute;
    top: 34px;
    transform: rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
    width: 0;
}


.skills .titleSmall {
		margin-bottom:35px;
}

.widget{
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:3px solid #efefef;
}

.skillsList li {
    float: left;
    margin-bottom: 7px;
}


.skillsList li:last-child {
    margin-bottom: 0;
}


.skillsList h4{
	float:left;
	display:block;
	width:144px;
	text-transform:uppercase;
}

.rating{
	float:left;
	margin-top:1px;
}
.rating span{
	background:#343434;
	border-radius:100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	width:12px;
	height:12px;
	display:inline-block;
}

.transparent{
	opacity:.1;
}

.pList{
	margin-top:20px;
}

.pList li{
	margin-bottom:5px;
	color:#343434;
}

.pList li i{
	margin-right:5px;
	font-size:15px;
}


.getCv {
    background: #343434;
    display: inline-block;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.getCv h3 {
    float: right;
    padding: 15px 30px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:14px;
}
.getCv i {
    color: #ffffff;
	background:#03CC85;
    float: left;
    font-size: 20px;
    padding: 15px;
	border-radius:4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;

}


/*End resume*/