{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}FC - Blog{% endblock %}

{% block body %}

    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-blog.html.twig') }}

      {# include('_block-apis.html.twig') #}
      
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                Lastest Posts
            </h3>
            {% for blog in blogs %}
                {% if blog is not null %}
                    <h1 class="mt-4">{{ blog.title|raw }}</h1>
                    <hr>
                    <p>{{ blog.excerpt|raw }}</p>
                    <a href="{{ path('blog_by_slug', {'slug': blog.slug}) }}">Read more.</a>
                {% else %}

                    <p>N/A</p>

                {% endif %}
            {% else %}    
                    <p colspan="8">no records found</p>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(blogs) }}
            </div>
            </div><!-- /.blog-main -->
            <div class="col-lg-4">
                {{ include('_sidebar.html.twig') }}
            </div>

        </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}