{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}FC - Post By Tags{% endblock %}

{% block body %}

    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-blog.html.twig') }}

      {# include('_block-apis.html.twig') #}
      
    </div>

    <main role="main" class="container">
        <div class="row">

            <div class="col-lg-8 blog-main">
                    {% for tag in tags %}
                        {% if tag is not null %}
                            <h1 class="mt-4">{{ tag.title|raw }}</h1>
                            <hr>
                            <p>{{ tag.excerpt|raw }}</p>
                            <a href="{{ path('blog_show', {'id': tag.id}) }}">Read more.</a>
                        {% else %}

                            <p>N/A</p>

                        {% endif %}
                    {% else %}    
                            <p colspan="8">no records found</p>
                    {% endfor %}

            </div><!-- /.blog-main -->
            <div class="col-lg-4">
                {{ include('_sidebar-tags.html.twig') }}
            </div>

        </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}