{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}FC - Post details{% endblock %}

{% block body %}

    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-blog.html.twig') }}

      {# include('_block-apis.html.twig') #}
      
    </div>

    <main role="main" class="container">
      <div class="row">
        
        <div class="col-lg-8 blog-main">
            
                    {% if blog is not null %}
                        <h1 class="mt-4">{{ blog.title }}</h1>
                        <!-- Author -->
                        <p class="lead">
                        by
                        <span>{{ blog.author|raw }}</span>
                        </p>
                        <!-- Date/Time -->
                        <p>Posted on {{ blog.createAt ? blog.createAt|date('Y-m-d') : '' }}</p>
                        <hr>
                        <p>{{ blog.post|raw }}</p>
                    {% else %}

                        N/A

                    {% endif %}

            </div><!-- /.blog-main -->
            <div class="col-lg-4">
                {{ include('_sidebar.html.twig') }}
            </div>

        </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}