{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}FC - Post By Categories{% endblock %}

{% block body %}

    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-blog.html.twig') }}

      {# include('_block-apis.html.twig') #}
      
    </div>

    <main role="main" class="container">
      <div class="row">

        <div class="col-lg-8 blog-main">
                {% for category in categories %}
                    {% if category is not null %}
                        <h1 class="mt-4">{{ category.title|raw }}</h1>
                        <hr>
                        <p>{{ category.excerpt|raw }}</p>
                        <a href="{{ path('blog_by_slug', {'slug': category.slug}) }}">Read more.</a>
                    {% else %}

                        <p>N/A</p>

                    {% endif %}
                {% else %}    
                        <p colspan="8">no records found</p>
                {% endfor %}

        </div><!-- /.blog-main -->
        <div class="col-lg-4">
            {{ include('_sidebar.html.twig') }}
        </div>

      </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}