 {% block body %}
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Tags</strong>
                <!--Widget-->
                <div class="widget">
                    <h2 class="titleSmall">Programming Languages</h2>
                    <ul class="skillsList clearfix">
                        <li>
                            <h4>python</h4>
                            <div class="rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>	
                            </div>
                        </li>
                        <li>
                            <h4>php</h4>
                            <div class="rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>	
                            </div>
                        </li>
                        <li>
                            <h4>html</h4>
                            <div class="rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="transparent"></span>	
                            </div>
                        </li>
                        <li>
                            <h4>css</h4>
                            <div class="rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="transparent"></span>	
                            </div>
                        </li>
                        <li>
                            <h4>js</h4>
                            <div class="rating">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>
                            <span class="transparent"></span>	
                            </div>
                        </li>
                        
                    </ul>
                    
                </div>
                <!--End widget-->
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Categories</strong>
                <div class="getCv">
                    <a href="cv/PHP-developer-cv.pdf" target='_blank'><i class="icon-down-circled"></i>
                    <h3>Download My CV</h3>
                    </a>
                </div>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
          </div>
        </div>
      </div>
    {% endblock %}