{% block body %}
		<div class="jumbotron p-1 p-md-3 text-black rounded jumbotron-home">
			<div class="col-md-6 px-0">
				<h1 class="display-3">Welcome!!</h1>
				<p class="lead my-3 mt-5 pt-5">This is my personal portal where you can find a bit of me.</p>
				<p class="lead my-3">I hope you enjoy it.</p>
			</div>
		</div>
	{% endblock %}