{% block body %}
		<div class="jumbotron p-1 p-md-3 text-black rounded jumbotron-blog">
			<div class="col-md-6 mt-5 pt-5 px-0 d-flex flex-row-reverse">
				<h1 class="display-3">About some Thoughts</h1>
			</div>
		</div>
	{% endblock %}