 {% block body %}
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Tags</strong>
                <table class="table bg-light py-5">
                  <tbody>
              {% for tag in tags %}
                      <tr>
                          <td>
                              <h5>
                                  <a href="{{ path('tag_by_id', {id: tag.id}) }}">{{ tag.tag }}</a>
                              </h5>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="8">no records found</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
        <!-- div class="col-md-12">
          <div class="flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Categories</strong>
                <table class="table bg-light py-5">
                  <tbody>
                  {# for menucat in menucats }
                      <tr>
                          <td>
                              <h5>
                                  <a href="{{ path('category_by_id', {id: menucat.id}) }}">{{ menucat.category }}</a>
                              </h5>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="8">no records found</td>
                      </tr>
                  {% endfor #}
                  </tbody>
              </table>
            </div>
          </div>
        </div -->
        <div class="col-md-12">
          <!--Skills-->							
								<div class="five columns skills top">
									
									<!--Widget-->
									<div class="widget">
										<h2 class="titleSmall">StackTech</h2>
										<ul class="list-group">
											<li class="list-group-item">
												<h4>php</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>
												<span class="transparent"></span>	
												</div>
											</li>
                      <li class="list-group-item">
												<h4>python</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>	
												</div>
											</li>
                      <li class="list-group-item">
												<h4>js</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>	
												</div>
											</li>
											<li class="list-group-item">
												<h4>html</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>	
												</div>
											</li>
											<li class="list-group-item">
												<h4>css</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>	
												</div>
											</li>
                      <li class="list-group-item">
												<h4>symfony</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>	
												</div>
											</li>
                      <li class="list-group-item">
												<h4>laravel</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent">></span>
												<span class="transparent">></span>
												<span class="transparent"></span>
												<span class="transparent"></span>
												<span class="transparent"></span>	
												</div>
											</li>
											<li class="list-group-item">
												<h4>bootstrap</h4>
												<div class="rating">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span class="transparent"></span>	
												</div>
											</li>	
										</ul>
										
									</div>
									<!--End widget-->									
								</div>
							<!--End skills-->
        </div>
      </div>
    {% endblock %}