 {% block body %}
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Categories</strong>
                <table class="table bg-light py-5">
                  <tbody>
                  {% for category in categories %}
                      <tr>
                          <td>
                              <h5>
                                  <a href="{{ path('category_by_id', {id: category.id}) }}">{{ category.category }}</a>
                              </h5>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="8">no records found</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table
            </div>
          </div>
        </div>
      </div>
    {% endblock %}