{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% set ea_select2_locales = ['af', 'ar', 'az', 'bg', 'bn', 'bs', 'ca', 'cs', 'da', 'de', 'dsb', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gl', 'he', 'hi', 'hr', 'hsb', 'hu', 'hy', 'id', 'is', 'it', 'ja', 'ka', 'km', 'ko', 'lt', 'lv', 'mk', 'ms', 'nb', 'ne', 'nl', 'pl', 'ps', 'pt', 'pt-BR', 'ro', 'ru', 'sk', 'sl', 'sq', 'sr', 'sr-Cyrl', 'sv', 'th', 'tk', 'tr', 'uk', 'vi', 'zh-CN', 'zh-TW'] %}

{% set ea_select2_locale = ea.i18n.htmlLocale in ea_select2_locales
    ? ea.i18n.htmlLocale
    : ea.i18n.language in ea_select2_locales ? ea.i18n.language : 'en'
%}

{% if ea_select2_locale != 'en' %}
    <script src="{{ asset('bundles/easyadmin/select2/i18n/' ~ ea_select2_locale ~ '.js') }}"></script>
{% endif %}
