{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.isEasyAdminRequest %}
        {% set icon %}
            {{ include('@EasyAdmin/inspector/icon.svg.twig', { fill_color: '#AAA', height: '20' }) }}
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>EasyAdmin version</b>
                <span class="sf-toolbar-status">{{ constant('EasyCorp\\Bundle\\EasyAdminBundle\\EasyAdminBundle::VERSION') }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ not collector.isEasyAdminRequest ? 'disabled' }}">
        <span class="icon">{{ include('@EasyAdmin/inspector/icon.svg.twig') }}</span>
        <strong>EasyAdmin</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>EasyAdmin <small>({{ constant('EasyCorp\\Bundle\\EasyAdminBundle\\EasyAdminBundle::VERSION') }})</small></h2>

    {% if not collector.isEasyAdminRequest %}
        <div class="empty">
            <p>No information available because this route is not related to EasyAdmin.</p>
        </div>
    {% else %}
        {{ include('@WebProfiler/Profiler/table.html.twig', { data: collector.data }, with_context = false) }}
    {% endif %}

    <h3>Additional Resources</h3>

    <ul>
        <li><a href="https://github.com/EasyCorp/EasyAdminBundle/issues">Report an issue</a></li>
        <li><a href="https://symfony.com/doc/current/bundles/EasyAdminBundle/index.html">Read documentation</a></li>
        <li><a href="https://github.com/EasyCorp/EasyAdminBundle">Project homepage</a></li>
    </ul>
{% endblock %}
